.modeSelected {
  visibility: visible;
}

.modeUnselected {
  visibility: hidden;
}

.cursor {
  display: grid;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-items: center;

  background-color: #3a3a4e;
  border-radius: 4px;

  border: none;
}

.icon {
  height: 16px;
  width: 16px;
}
