.save {
  display: grid;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-items: center;

  border-radius: 4px;
  transition: background-color 0.1s;

  border: none;
  background: none;
}

.save:hover {
  background-color: #3a3a4e;
}
